* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.header-margin {
  background-color: #1F2937;
}

body {
  display: flex;
  flex-direction: column;
}

.header-container{
  display: flex;
  background-color: #1F2937;
  height: 100px;
  color: white;
  margin: 20px 100px 100px 100px;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border-top: 25px;
}

.header-logo, 
.link-container,
.links {
  display: flex;
}

.header-logo {
  mix-blend-mode: multiply;
}

.link-container {
  width: 700px;
}

.links {
  justify-content: space-between;
  flex-grow: 1;
}

.header-content {
  display: flex;
  height: 300px;
  background-color: #1F2937;
  justify-content: space-between;
  color: white;
  margin: 0px 100px 50px 100px;
  gap: 30px;
} 

.header-content-left,
.header-content-right{
  display: flex;
  flex: 1;
}

.left-content-header {
  font-family: Helvetica;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left-content-info {
  font-size: 18px;
  color: #e5e7eb;
}

.header-sign-up-button {
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  background: #3882f6;
  width: 90px;
  height: 35px;
  border: 0px;
  color: #f9faf8;
}

.header-image {
  object-fit: cover;
}

.main-container {
  display: flex;
  /* border: solid green; */
  height: 400px;
  align-items: center;
  flex-direction: column;
}

.main-container-header {
  display: flex;
  font-size: 36px;
  font-weight: bolder;
  justify-content: center;
  padding: 30px;
}

.photo-grid,
.info-grid {
  display: flex;
  flex-wrap: wrap;
  /* border: solid orange; */
  gap: 40px;
}

.photo-grid-item,
.info-grid-item {
  display: flex;
  width: 200px;
  height: 200px;
  padding: 5px;
  /* border: solid blue; */
}

.grid-images {
  border-radius: 10px;
}

.main-container-two {
  height: 400px;
  /* border: solid orangered; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
}

.quote-container { 
  /* border: solid violet; */
  width: 800px;
  height: 400px;
  display: flex;
  margin-top: 50px;
}

.quote-paragraph {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 30px;
}

.quote-author {
  /* border:  solid #3882f6; */
  width: 800px;
  height: 400px;
  align-self: flex-end;
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  justify-content: center;
}

.main-container-three {
  height: 400px;
  /* border: solid black; */
  display: flex;
  justify-content: center;
}

.sign-up-container {
  display: flex;
  border: solid blue;
  flex-grow: 1;
  margin: 105px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: blue;
  color: white;
  border-radius: 15px;
}

.footer {
  display: flex;
  background-color: darkgrey;
  height: 100px;
  justify-content: center;
  background-color: #1F2937;
}

.footer-info {
  margin-top: 25px;
  color: white;
  font-size: 20px;
  
}








